---
layout: default
banner: muziek
---

#muziek
  %h1 Blah

  <object height="300" width="300"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F589703&amp;auto_play=false&amp;player_type=artwork&amp;color=9d1c20"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="300" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F589703&amp;auto_play=false&amp;player_type=artwork&amp;color=9d1c20" type="application/x-shockwave-flash" width="300"></embed> </object>  

  %h1 Driven

  .album
    .cover
      .title Drivem
    .tracks
      <iframe width="50%" height="600" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1451859&show_artwork=false"></iframe>

  %h1 Test
  
  <object height="81" width="100%"> <param name="movie" value="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F805447&amp;show_comments=true&amp;auto_play=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F805447&amp;show_comments=true&amp;auto_play=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/crookedvultures/new-fang">New Fang</a> by <a href="http://soundcloud.com/crookedvultures">crookedvultures</a></span>

  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F805447&amp;auto_play=false&amp;show_artwork=false&amp;color=ff7700"></iframe>

  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F101860&show_artwork=true"></iframe>

  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F101860&amp;auto_play=false&amp;show_artwork=true&amp;color=150505"></iframe>

  %h1 Discografie

  .album
    .cover
      .title (unnamed)
      %div
        %img{:src => 'images/cd_unnamed.jpg'}
      2010, Silvox Studio
    .tracks
      %ol
        %li Sticks and Stones
        %li Wings
        %li Crystal Ball
        %li Lynn
        %li Rush
        %li Ancient Groove
        %li Hafnarfjordur
        %li Beautiful Day
        %li Senses
        %li Leisure For Didge
        %li Here to Stay

  .album
    .cover
      .title Unforgotten
      %img{:src => 'images/cd_unforgotten.jpg'}
    .tracks
      %ol
        %li White Lady
        %li Saughy Rigg Farm
        %li Dancing on the Wind
        %li Diamonds
        %li Transparent Borders
        %li Happy Swing
        %li The Gold
        %li Unforgotten
        %li Moment in Time
        %li Dreaming
        %li Glenashdale Falls

  .album
    .cover
      .title Meltimi
      %img{:src => 'images/cd_meltemi.jpg'}
    .tracks
      %ol
        %li Aurora Borealis
        %li Didgecobeat
        %li Meltemi
        %li Spirits Bay
        %li Never Look Back
        %li Hallways
        %li Stardance
        %li It's Okay
        %li Highway of Life
        %li Didgecobeat (etno-groove remix)

  .album
    .cover
      .title Driven
      %img{:src => 'images/cd_driven.jpg'}
    .tracks
      %ol
        %li Expectations II
        %li The Fields
        %li Driven

