---
layout: default
banner: muziek
---
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="../js/soundcloud.player.api.js"></script>
<script type="text/javascript" src="../js/sc-player.js"></script>

#muziek


  %h1 Discografie

  .album
    .cover
      .title (unnamed)
      %div
        %img{:src => 'images/cd_unnamed.jpg'}
      2010, Silvox Studio
    .tracks
      %ol
        %li Sticks and Stones
        %li Wings
        %li Crystal Ball
        %li Lynn
        %li Rush
        %li Ancient Groove
        %li Hafnarfjordur
        %li Beautiful Day
        %li Senses
        %li Leisure For Didge
        %li Here to Stay

  .album
    .cover
      .title Unforgotten
      %img{:src => 'images/cd_unforgotten.jpg'}
    .tracks
      %ol
        %li White Lady
        %li Saughy Rigg Farm
        %li Dancing on the Wind
        %li Diamonds
        %li Transparent Borders
        %li Happy Swing
        %li The Gold
        %li Unforgotten
        %li Moment in Time
        %li Dreaming
        %li Glenashdale Falls

  .album
    .cover
      .title Meltimi
      %img{:src => 'images/cd_meltemi.jpg'}
    .tracks
      %ol
        %li Aurora Borealis
        %li Didgecobeat
        %li Meltemi
        %li Spirits Bay
        %li Never Look Back
        %li Hallways
        %li Stardance
        %li It's Okay
        %li Highway of Life
        %li Didgecobeat (etno-groove remix)

  .album
    .cover
      .title Driven
      %img{:src => 'images/cd_driven.jpg'}
    .tracks
      %ol
        %li Expectations II
        %li The Fields
        %li Driven

