---
layout: default
banner: band
---

#band
  #koppen
    #top
      .thumb
        %a{:href=>'noor.html'}
          %img{:src=>'images/noor_info.jpg'}
      .thumb
        %a{:href=>'endy.html'}
          %img{:src=>'images/endy_info.jpg'}
      .thumb
        %a{:href=>'judith.html'}
          %img{:src=>'images/judith_info.jpg'}
    #bottom
      .thumb
        %a{:href=>'roland.html'}
          %img{:src=>'images/roland_info.jpg'}
      .thumb
        %a{:href=>'cora.html'}
          %img{:src=>'images/cora_info.jpg'}
      .thumb
        %a{:href=>'marc.html'}
          %img{:src=>'images/marc_info.jpg'}
      .thumb
        %a{:href=>'michiel.html'}
          %img{:src=>'images/michiel_info.jpg'}

    %h1
      Fusion van Pop en Folk

    %p
      De zeven muzikanten van Idris hebben ieder hun eigen pluimage en
      achtergrond. Zo zingt Noortje ook in de progressieve rockband
      In-Tension. Violiste Cora speelt in klezmerband Klezmajeur en
      geeft vioolles in diverse stijlen. Gitarist Michiel heeft een
      opleiding klassieke gitaar en geeft gitaarles. Drummer Marc heeft
      gespeeld in Nederland en Vlaanderen met diverse acts en popbands.
      Didgeridoospeler Roland speelde met Australische top didgespelers
      en geeft didgeworkshops. Al deze invloeden vermengen zich in Idris
      tot een sfeer en klank die moeilijk in woorden is te omschrijven.
      Die kun je alleen maar ervaren, voelen, horen en zien. 

  #persons
    .record
      .name 
        %a.text{:href=>'noor.html'} Noor van de Voort
      .what zang
    .record        
      .name 
        %a.text{:href=>'judith.html'} Judith van der Valk - van Diemen
      .what zang, dwarsfluit, blokfluit, doedelzak
    .record
      .name 
        %a.text{:href=>'endy.html'}Endy Kasanardjo
      .what basgitaar
    .record
      .name 
        %a.text{:href=>'cora.html'}Cora van den Berg
      .what viool, altviool
    .record
      .name 
        %a.text{:href=>'roland.html'}Roland Mathijsen
      .what didgeridoo, klein percussie
    .record
      .name 
        %a.text{:href=>'marc.html'}Marc Rosiers
      .what drums, zang, percussie
    .record
      .name 
        %a.text{:href=>'michiel.html'}Michiel Bos
      .what gitaar, bouzouki, percussie
    .record
      .name
        %a.text{:href=>'tjeu.html'}Tjeu Horsch
      .what geluidstechniek


   