---
layout: default
banner: agenda
---

#content

  #agenda-old
    %h1 Optrends in het verleden

    %h2 2011
    %ul
      %li 24 November: Odeon / Papentheater, Zwolle 
      %li 18 November: Kunst Dichterbij, Auto Probaat, Tilburg 
      %li 17 September: Live bij WeekendMol, Omroep Brabant 
      %li 10 September: Sterrenfestival, Dwingeloo 
      %li 30 Juli:Art Carnivale, Slochteren 
      %li 22 Juli: Buiten 't Boekje, Brummen 
      %li 11 Juli: Omroep Brabant, Live bij Eefke Boelhouwers 
      %li 19 Juni: Cultuurboerderij, Westelbeers (Oirschot) 
      %li 5 Juni: Art Caf&ecirc; SamSam, Apeldoorn 
      %li 15 Mei: NuNu, Deventer 
      %li 14 Mei: Muziekcaf&ecirc; de Lantaern, Zevenaar 
      %li 1 Mei: Theaterzaal 't Rozenknopje, Eindhoven 
      %li 13 Februari: Muziek in de Tent, Zwolle 
      %li 22 Januari: Dorpshuis Tejater, Lieshout

    %h2 2010 
    %ul
      %li 3 December: Kunst Dichterbij; Atelier "De Graal", Tilburg 
      %li 4 September: Harderwijk (besloten) 
      %li 1 Augustus: Everwijnsgoed, Renkum 
      %li 20 Juni: Kiosk Veldhoven 
      %li 18 Juni: Zandfoort, Amersfoort (besloten) 
      %li 30 April: Biks Oranje Fist, Hilvarenbeek 
      %li 20 Maart: Kir Royal, Schijf (bij Roosendaal) (besloten) 
      %li 7 Februari: Boerderij Zorgvrij, Spaarnwoude

    %h2 2009 
    %ul
      %li 28 November: De Boerderij, Breugel 
      %li 18 Juli: Festival Gracias a la Vida, Lommel 
      %li 21 Juni: Kiosk, De Plaatse, Veldhoven 
      %li 6 Juni: Theater de Schelleboom, Oosterhout 
      %li 12 Maart: JC De Bunker, Gemert

    %h2 2008
    %ul
      %li 30 November: Galerie / podium De Compagnie, Veghel 
      %li 14 September: Sterrenfestival, Dwingelo 
      %li 26 Juli: Folk festival M'Eire Morough, Dendermonde 
      %li 22 Juni: Muziektent, Oranjepark Apeldoorn 
      %li 4 Juni: DeSmet Live, Radio 5 
      %li 31 Mei: Tribute to Alan Dargin Festival, Wieringerwerf 
      %li 25 Mei: Literair Festival in het Groen, Oerle 
      %li 24 Mei: Caf&eacute; Wilhelmina, Eindhoven 
      %li 10 April: Kunstcentrum Catharinakapel, Harderwijk 
      %li 22 Maart: Theater Gigant, Apeldoorn 
      %li 15 Februari: Theater Jan van Besouw, Goirle 
      %li 15 Januari: Live interview BRTO radio

    %h2 2007
    %ul
      %li 15 december: Plein theater, Amsterdam 
      %li 8 december: De Zaete: Podium Reimerswaal, Yerseke 
      %li 24 november: ParaFolk, Breda 
      %li 27 oktober: CC De Boerderij, Breugel 
      %li 12 oktober: WorldFolkNight, De Schalm, Veldhoven 
      %li 22 september: Cult & Tumult, De Schalm, Veldhoven 
      %li 31 augustus: Doe Dans, Biddinghuizen 
      %li 23 juni: The Stage, Didgeridoo Festival, Wieringerwerf 
      %li 14 juni: Plein college, Eindhoven 
      %li 14 april: CC Den Herd, Bladel 
      %li 31 maart: CC Van Gogh, Zundert 
      %li 3 maart: Rabotheater Hengelo 
      %li 11 februari: St. Jan Cultuur, Roosendaal 
      %li 10 februari: Theater de Spiegel, Zwolle (met Moya Brennan)

      Optredens 2006 
      %li 2 december: Theater de Schalm, Veldhoven (WFN) 
      %li 23 oktober: Herfstweek SVN, de Glind (bij Barneveld) 
      %li 21 oktober: 't Ey, Belsele (bij SintNiklaas)(B) 
      %li 2 september: Festival Doe Dans, Biddinghuizen 
      %li 2 september: Festival Mondial, Apeldoorn 
      %li 24 juni: Folkcaf&eacute; De Lantaern, Oud-Zevenaar 
      %li 4 juni: Festival Elastiek, Hilvarenbeek 
      %li 13 april: Caf&eacute; Wilhelmina, Eindhoven 
      %li 18 februari: Omroep Brabant, Eindhoven 
      %li 19 januari: CC De Badcuyp, Amsterdam

    %h2 2005 
    %ul
      %li 2 december: Radio E-FM, Eindhoven, interview 
      %li 13 november: De Brug, Mortsel (B) 
      %li 28 oktober: Theater de Schalm, Veldhoven 
      %li 24 september: Cult & Tumult, Veldhoven (Meiveld) 
      %li 24 september: Cult & Tumult, Veldhoven (theater) 
      %li 10 september: Wilhelmina, Eindhoven 
      %li 9 september: Theater Lexor, Heerlen 
      %li 21 augustus: Bruisend Ginneken, Breda 
      %li 2 juli: Na Fir Bolg folkfestival, Vorselaar (B) 
      %li 26 juni: Didgeridoo Festival, Amsterdam 
      %li 12 juni: 1 Ander Festival, Schijndel 
      %li 11 juni: Folkfestival de Lantaern, Zevenaar 
      %li 23 april: Route 05, 013, Tilburg 
      %li 16 april: Cultureel Centrum De Boerderij, Breugel 
      %li 21 maart: Caf&eacute; De Buut, Eindhoven 
      %li 19 maart: Folknight, De Groene Engel, Oss

    %h2 2004 
    %ul
      %li 11 december: D'n Bond, Veldhoven (lustrumfeest) 
      %li 26 november: De Gouden Bal, Eindhoven 
      %li 19 november: Kraaij&Balder, Eindhoven 
      %li 13 november: De Brandpoort, Landgraaf 
      %li 31 oktober: De Koerberg, Heerde 
      %li 17 oktober: De Keulse Kar, 's-Hertogenbosch 
      %li 16 september: Personeelsfeest bibliotheek, Veldhoven 
      %li 11 september: GeMi Cultureel, Geldrop 
      %li 28 augustus: Afstudeerfeest (besloten), Borkel 
      %li 14 augustus: Folkwoods Festival, Nuenen 
      %li 22 juli: Live is Live, Dockland, Antwerpen 
      %li 3 juli: MusiCampus, High Tech Campus, Eindhoven 
      %li 26 juni: Didgeridoo Festival, Ruigoord (bij Amsterdam) 
      %li 6 juni: Blue Dew Folkvillage, Zwolle 
      %li 20 mei: Caf&eacute; WirWar, Turnhout (B) 
      %li 16 mei: Down Town, Gemert 
      %li 1 mei: Folkcaf&eacute; De Lantaern, Oud-Zevenaar 
      %li 18 april: De Boulevard, Breda (Crossover Night met o.a. LUA) 
      %li 17 april: Folkroute, De Moriaan, Roosendaal 
      %li 7 maart: De Groene Engel, Oss 
      %li 14 februari: Jerry's Music Caf&eacute;, Veldhoven 
      %li 20 januari: Caf&eacute; Alleman, Gemert 
      %li 19 januari: Caf&eacute; De Buut, Eindhoven 
      %li 3 januari: Vitality Centre, Eindhoven

    %h2 2003 
    %ul
      %li 22 november: Benefietconcert GUO, Oisterwijk 
      %li 21 november: Radio E-FM, Eindhoven 
      %li 1 november: De Pul, Uden (voorprogramma Fairport Convention) 
      %li 25 oktober: De Merletten, Boxtel (besloten) 
      %li 28 september: De Koerberg, Heerde 
      %li 25 september: De Paradox, Tilburg 
      %li 25 juni: 013, Tilburg 
      %li 4 juni: Caf&eacute; Wilhelmina, Eindhoven 
      %li 17 mei: Chateau Rêve, Eindhoven 
      %li 3 mei: Caf&eacute; Lambiek, Waalre 
      %li 10 april: Jerry's Music Caf&eacute;, Veldhoven 
      %li 22 maart: De Pul, Uden (tijdens R.E.S.P.E.C.T. festival) 
      %li 1 maart: De Lantaern, Oud-Zevenaar 
      %li 9 februari: Valkenhorst, Eindhoven 
      %li 18 januari: De Beurs, Boxtel

    %h2 2002 
    %ul
      %li 6 november: Doornroosje, Nijmegen 
      %li 24 oktober: De Paradox, Tilburg 
      %li 24 september: Alleman, Gemert 
      %li 23 september: De Buut, Eindhoven 
      %li 14 september: Muziekcaf&eacute; Janssen, Reusel 
      %li 24 juni: De Buut, Eindhoven 
      %li 9 juni: 't Spektakel, Asten 
      %li 18 april: De Paradox, Tilburg 
      %li 27 februari: De Fantast, Valkenswaard 
      %li 31 januari: 't Spektakel, Asten
      
    %h2 2001 
    %ul
      %li 25 november 2001: 't Rozenknopje, Eindhoven 
      %li 30 september 2001: Cult &amp; Tumult-festival, Veldhoven 
      %li 18 augustus 2001: dorpshuis D'n Bond, Veldhoven 
      %li 30 juni 2001: Chateau R&ecirc;ve, Eindhoven