---
layout: default
banner: agenda
---

%h1
  Agenda

#agenda

  %table
    %tr
      %td 6 januari 20:15
      %td D'n hoge Dries
      %td Schijf (bij Roosendaal)

    %tr
      %td 14 januari 20:15
      %td 
        %a.text{:href=>'http://www.theatersolstwijhe.nl/'}Theaters Olstwijhe
      %td Olst/Wijhe

    %tr
      %td 26 februari 12:30
      %td 
        %a.text{:href=>'http://www.phantasium.nl/'}Phantasium
      %td Eindhoven

    %tr
      %td 14 april 20:30
      %td 
        %a.text{:href=>'http://boerderijbreugel.nl/'}De Boerderij
      %td Breugel

    %tr
      %td 16 juni
      %td 
        %a.text{:href=>'http://www.schoolvanfrieswijk.nl/'}School van Frieswijk
      %td Schalkhaar (bij Deventer)

  %div
    %a.text{:href=>'agenda_old.html'}Klik hier voor onze vorige optredens

