---
layout: default
banner: muziek
---
#videos
  .section
    .thumb {% youtube EP22FY70mEM 300 250 %}
    .sub Rush

  .section
    .thumb {% youtube 63LWvdA73Xk 300 250 %}
    .sub Hafnarflordur

  .section
    .thumb {% youtube ABTSDkoY5SI 300 250 %}
    .sub Ancient Groove

  .section
    .thumb {% youtube XDh6cw3zjLE 250 250 %}
    .sub Lynn (live bij Omroep Brabant, helaas zonder Judith)
