<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    {% include head_basic.html %}
    {% include head_jquery.html %}
    {% include head_shadowbox.html %}
    {% include head_sm2.html %}
  </head>
  <body class='bp idris'>
    <div id='container' class='container'>
      <div id='banner'>
        <img src='/images/banners/{{ page.banner }}.jpg' border="0"/>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/index.html'>Home</a></li>
          <li><a href='/content/band'>Band</a></li>
          <li><a href='/content/muziek'>Muziek</a></li>
          <li><a href='/content/fotos'>Foto's</a></li>
          <li><a href='/content/videos'>Video's</a></li>
          <li><a href='/content/agenda'>Agenda</a></li>
          <li><a href='/content/gastenboek'>Gastenboek</a></li>
          <li><a href='/content/contact'>Contact</a></li>
          <li><a href='/content/pers'>Pers</a></li>
        </ul>
      </div>
      <div id='pane'>
        <div id='content'>
          {{ content }}
        </div>
      </div>
      <div id='footer'>
        <span>
          Designed by Michiel Bos / Tweaked by Endymion Kasanardjo.
        </span>
      </div>
    </div>
  </body>
</html>
