---
layout: default
banner: contact
---


#contact
  %h1 
    Contact

  %p
    %strong Voor boekingen<br/>
    %a.text{:href=>'mailto:info@idris-music.nl'}info@idris-music.nl<br/>
    +31 (0) 6 53386435<br/>
    +31 (0) 6 26168638

  %p
    %strong Voor algemene informatie<br/>
    %a.text{:href=>'mailto:info@idris-music.nl'}info@idris-music.nl<br/>
    +31 (0) 6 26168638

  %p
    %strong Voor geluidstechnische vragen<br/>
    %a.text{:href=>'mailto:tech@idris-music.nl'}tech@idris-music.nl<br/>
    +31 (0) 6 26168638<br/>

  %p
    %strong Wilt je de nieuwsbrief ontvangen?<br/>
    %a.text{:href=>'mailto:nieuws@idris-music.nl'}nieuws@idris-music.nl

  %p
    %strong Pers informatie:
    %a.text{:href=>'/content/pers'}Klik hier<br/>
    %strong Technische informatie:
    %a.text{:href=>'/content/tech/rider_idris_full.pdf'}Klik hier<br/>
