---
layout: default
banner: contact
---

%h1 
  Contact

#contact
  %ul
    %li 
      %strong Voor boekingen
    %li
      %a.text{:href=>'mailto:info@idris-music.nl'}info@idris-music.nl
    %li +31 (0) 6 53386435
    %li +31 (0) 6 26168638

  %ul
    %li 
      %strong Voor algemene informatie
    %li 
      %a.text{:href=>'mailto:info@idris-music.nl'}info@idris-music.nl
    %li +31 (0) 6 26168638

  %ul
    %li
      %strong Voor geluidstechnische vragen
    %li 
      %a.text{:href=>'mailto:tech@idris-music.nl'}tech@idris-music.nl
    %li +31 (0) 6 26168638

  %ul
    %li
      %strong Wilt je de nieuwsbrief ontvangen?
    %li 
      %a.text{:href=>'mailto:nieuws@idris-music.nl'}nieuws@idris-music.nl

  %ul
    %li
      %strong Pers informatie:
      %a.text{:href=>'/pers'}Klik hier
    %li
      %strong Technische informatie:
      %a.text{:href=>'/tech/rider_idris_full.pdf'}Klik hier
