/* line 1, ../../sass/original_idris_style.scss */
body {
  background-image: url(/images/bgr.png);
}

/* line 4, ../../sass/original_idris_style.scss */
body, td, th {
  font-family: Verdana, Geneva, sans-serif;
  color: #FFF;
  font-size: 12px;
}

/*-========== */
/* line 12, ../../sass/original_idris_style.scss */
body {
  background-color: #790000;
  /*background-image: url(/images/tekstbgr.jpg);
  background-position: topleft;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 5px;*/
  scrollbar-face-color: #B11B02;
  scrollbar-highlight-color: #c32208;
  scrollbar-3dlight-color: #950304;
  scrollbar-darkshadow-color: #950304;
  scrollbar-shadow-color: #c32208;
  scrollbar-arrow-color: #ffffff;
  scrollbar-track-color: #A50603;
}

/* line 29, ../../sass/original_idris_style.scss */
html, body {
  overflow-x: hidden;
}

/* line 30, ../../sass/original_idris_style.scss */
body, td, th {
  color: #FFFFFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 35, ../../sass/original_idris_style.scss */
a.one:link {
  text-decoration: underline;
  color: #FFFFFF;
  line-height: 21px;
  font-size: 12px;
}

/* line 41, ../../sass/original_idris_style.scss */
a.one:visited {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 21px;
  font-size: 12px;
}

/* line 47, ../../sass/original_idris_style.scss */
a.one:hover {
  text-decoration: none;
  color: #99FF00;
  line-height: 21px;
  font-size: 12px;
}

/* line 53, ../../sass/original_idris_style.scss */
a.one:active {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 21px;
  font-size: 12px;
}

/* line 60, ../../sass/original_idris_style.scss */
H1 {
  font-family: Verdana;
  font-size: 10pt;
  color: #FFFFFF;
  font-weight: normal;
  line-height: 18px;
}

/* line 68, ../../sass/original_idris_style.scss */
H2 {
  font-family: Verdana;
  font-size: 10pt;
  color: #FFFFFF;
  text-indent: 0pt;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
}

/* line 78, ../../sass/original_idris_style.scss */
H3 {
  font-family: Verdana;
  font-size: 10.5pt;
  color: #FFFFFF;
  text-indent: 0pt;
  font-weight: normal;
  font-variant: normal;
  line-height: 21px;
}

/*-- CUT -- */
/* line 91, ../../sass/original_idris_style.scss */
a:link {
  color: #FFF;
  text-decoration: none;
}

/* line 95, ../../sass/original_idris_style.scss */
a:visited {
  color: #FFF;
  text-decoration: none;
}

/* line 99, ../../sass/original_idris_style.scss */
a:hover {
  color: #0C0;
  text-decoration: none;
}

/* line 103, ../../sass/original_idris_style.scss */
a:active {
  color: #FFF;
  text-decoration: none;
}

/* line 108, ../../sass/original_idris_style.scss */
html {
  overflow: scroll;
}
