---
layout: sm2
banner: muziek
---

#muziek

  %h1 Discografie

  .album
    .title (untitled)
    .cover
      %div
        %img{:src => '(untitled)/(untitled).jpg'}
      %div 2010<br/>Silvox Studio
      .bestel
        %a{:href=>'bestel'}Bestel de CD
    .tracks
      %ol.graphic
        %li Sticks and Stones
        %li 
          %a.sm2_link{:href=>'(untitled)/wings.mp3'}Wings
        %li
          %a.sm2_link{:href=>'(untitled)/crystal ball.mp3'}Crystal Ball
        %li 
          %a.sm2_link{:href=>'(untitled)/lynn.mp3'}Lynn
        %li Rush
        %li Ancient Groove
        %li 
          %a.sm2_link{:href=>'(untitled)/hafnarfjordur.mp3'}Hafnarfjordur
        %li 
          %a.sm2_link{:href=>'(untitled)/beautiful day.mp3'}Beautiful Day
        %li Senses
        %li Leisure For Didge
        %li Here to Stay
        %li
          %a.sm2_link{:href=>'(untitled)/crystal ball reprise.mp3'}
            Crystal Ball (reprise)

  .album
    .title Unforgotten
    .cover
      %img{:src => 'unforgotten/unforgotten.jpg'}
      %div 2007<br/>FUAIME Studio
      .bestel
        %a{:href=>'bestel'}Bestel de CD
    .tracks
      %ol.graphic
        %li White Lady
        %li Saughy Rigg Farm
        %li Dancing on the Wind
        %li Diamonds
        %li Transparent Borders
        %li Happy Swing
        %li The Gold
        %li 
          %a.sm2_link{:href=>'unforgotten/unforgotten.mp3'} Unforgotten
        %li Moment in Time
        %li Dreaming
        %li.last Glenashdale Falls

  .album
    .title Meltemi
    .cover
      %img{:src => 'meltemi/meltemi.jpg'}
      .bestel
        %a{:href=>'bestel'}Bestel de CD
    .tracks
      %ol.graphic
        %li
          Aurora Borealis
        %li
          Didgecobeat
        %li
          %a.sm2_link{:href=>'meltemi/meltemi.mp3'}Meltemi
        %li
          %a.sm2_link{:href=>'meltemi/spirits.mp3'}Spirits Bay
        %li
          Never look back
        %li
          Hallways
        %li
          Star Dance
        %li
          %a.sm2_link{:href=>'meltemi/itsokay.mp3'}It's Okay
        %li
          Highway of Life
        %li 
          Didgecobeat (ethno-groove remix)

  
  .album
    .title Driven
    .cover
      -# %img{:src => 'driven/driven.jpg'}
    .tracks
      %ol.graphic
        %li
          %a.sm2_link{:href=>"driven/expectations.mp3"} Expectations
        %li
          %a.sm2_link{:href=>"driven/fields.mp3"} Fields
        %li
          %a.sm2_link{:href=>"driven/driven.mp3"} Driven

