$blueprint-grid-columns: 24;
$blueprint-container-size: 900px; //950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// Common colors
$idris-text: lightgrey;
$idris-footer: gray;
$idris-menu: gray;
$idris-green: #00CC00;
$idris-menu-bg: #380404;
$idris-footer-bg: #380404;
$idris-body-bg: #150505;
$idris-link-hover-color: $idris-green;
$idris-link-color: #999999;






