---
layout: default
banner: gastenboek
---
<meta http-equiv="Refresh" content="10; URL=/content/gastenboek">

%h1 Bedankt!

%p
Dank je dat je in ons gastenboek hebt geschreven! 
  
%p 
Zometeen zie je hier het gastenboek met jouw bijdrage.
 
%p 
(misschien moet je op Refresh/Verversen klikken in je browser)

