<link rel="stylesheet" type="text/css" 
      href="/libs/sm2/css/inlineplayer.css" /> 
<link rel="stylesheet" type="text/css" 
      href="/libs/sm2/css/mp3-player-button.css" /> 
<script type="text/javascript" 
        src="/libs/sm2/script/soundmanager2.js"></script>
<script type="text/javascript" 
        src="/libs/sm2/script/inlineplayer.js"></script>
<script type="text/javascript" 
        src="/libs/sm2/script/mp3-player-button.js"></script>
<script type="text/javascript">
  soundManager.bgColor='#444444';
</script>
