---
layout: default
banner: home
---

#home
  %h1 Welkom op de website van Idris

  .section
    .two-columns
      .left
        %p
          %span.idris Idris
          heeft een sound die je nergens in popland hoort:
          sferisch en levendig, eigenzinnig en gedragen, met frisse
          dansnummers en prachtige ballads.  
        %p
          %span.idris Idris 
          maakt popmuziek met folk-invloeden, gespeeld op
          didgeridoo, fluit, viool, doedelzak, bouzouki, trekzak en
          percussie, naast de standaard bandformatie en twee
          zangeressen. 
      .right
        %p
          {% youtube EP22FY70mEM 300 200 %}
  .section
    .two-columns
      .left
        %p
          %img{:src => '/images/noor-judith.jpg', :width => 250}
      .right
        %p
          %span.idris Idris
          staat voor uitsluitend eigen werk waarin alle muzikanten 
          hun eigen roots kwijt kunnen (van progressieve rock tot 
          zigeunermuziek). Dat betekent verrassende samenzang, pakkend 
          viool- en fluitspel, opzwepende drums en bas, lyrische 
          gitaargeluiden en een exotische didge.
  .section
    Bestel <a class="text" href="bestellen.html">hier</a> onze CD
